body {
  font-family: sans-serif;
  text-align: center;
  background: #90ccfb;
  margin: 0;
}

h1, h2 {
  margin-top: 20px;
}

.upload-area {
  margin: 20px;
}

#previewContainer {
  margin-top: 10px;
}

#previewContainer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  margin-top: 10px;
  border: 2px solid #ccc;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 10px;
}

.gallery img {
  width: 25%;
  height: 25%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}
